<h4 class="text-center">Pagamento recorrente?</h4>
<p class="my-3 text-center">
  Criando uma recorrência, os lançamentos serão criados automaticamente todo mês.
</p>
<p class="text-center">
  <%= link_to 'Criar recorrência', new_entries_billing_path %>
</p>
