<h4 class="">Pagamento recorrente?</h4>
<p class="my-3 ">
  Criando uma recorrência, os próximos lançamentos serão criados automaticamente todo mês.
</p>
<p class="">
  <%= link_to 'Criar recorrência', new_entries_billing_path %>
</p>
