<% if entries.empty? %>
  <%= notification type: "primary" do %>
    <i class="bi bi-exclamation-triangle"></i>&nbsp;
    <span>Nenhum lançamento encontrado.</span>
  <% end %>
<% end %>

<div class="vstack gap-1">
  <% entries.each do |item| %>
    <div class="p-2 bg-dark">
      <%= render 'entries/entries_list_item', item: item %>
    </div>
  <% end %>
</div>
