<div class="my-5 row justify-content-center text-center">
  <div class="col-xs-6 col-auto">
    <small class="text-muted">
      Período
    </small>
    <p class="fs-4 text-primary">
      <%= I18n.l(date, format: :month_and_year) %>
    </p>
  </div>

  <div class="col-xs-6 col-auto">
    <small class="text-muted">
      Total
    </small>
    <p class="fs-4 text-primary">
      <%= number_to_currency totals.balance %>
    </p>
  </div>
</div>
