<div class="my-5 row text-center">
  <div class="col-xs-6 col-md-3">
    <small class="text-muted">
      Período
    </small>
    <p class="fs-4 text-primary">
      <%= I18n.l(date, format: :month_and_year) %>
    </p>
  </div>

  <div class="col-xs-6 col-md-3">
    <small class="text-muted">
      Receita
    </small>
    <p class="fs-4 text-primary">
      <%= number_to_currency totals.income_total %>
    </p>
  </div>

  <div class="col-xs-6 col-md-3">
    <small class="text-muted">
      Despesa
    </small>
    <p class="fs-4 text-primary">
      <%= number_to_currency totals.outgoing_total %>
    </p>
  </div>

  <div class="col-xs-6 col-md-3">
    <small class="text-muted">
      Saldo
    </small>
    <p class="fs-4 text-primary">
      <%= number_to_currency totals.balance %>
    </p>
  </div>

</div>
