<h1>Lançamentos pendentes</h1>
<%= link_to entries_path do %>
  &laquo; Voltar para lançamentos
<% end %>

<div class="mt-3">
  <% if @entries.empty? %>
    <%= notification type: "primary" do %>
      <i class="bi bi-exclamation-triangle"></i>&nbsp;
      <span>Nenhum lançamento pendente encontrado.</span>
    <% end %>
  <% end %>

  <% unless @entries.empty? %>
    <%= render 'entries/entries_list', entries: @entries %>
  <% end %>
</div>
