<h1>Lançamentos pendentes</h1>
<%= link_to entries_path do %>
  &laquo; Voltar para lançamentos
<% end %>

<div class="mt-5">
  <% if @entries.empty? %>
    <%= notification type: "primary" do %>
      <i class="bi bi-exclamation-triangle"></i>&nbsp;
      <span>Nenhum lançamento pendente encontrado.</span>
    <% end %>
  <% end %>

  <% unless @entries.empty? %>
    <% group_entries_by_month(@entries).each do |month, entries| %>
      <div class="mb-5">
        <h4><%= month %></h4>
        <%= render 'entries/entries_list', entries: entries %>
      </div>
    <% end %>
  <% end %>
</div>
