<div class="container-fluid">
  <div class="vh-100 row align-items-center">
    <div class="col-md-7 text-center">
      <%= image_tag 'logo-300.png', class: "img-fluid", width: "300", alt: "xpensis - Expense Tracker" %>
      <h1 class="mt-5 fs-2">Ferramenta online e gratuita para acompanhamento de despesas.</h1>
      <div class="d-grid gap-2 d-md-block mt-5">
        <%= link_to 'Já tenho uma conta',
          new_user_session_path,
          class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <div class="col-md-5 text-start">
      <%= image_tag 'hero-finance', class: "img-fluid" %>
    </div>
  </div>
</div>
