<%= content_for :page_title do %>
  Categorias
<% end %>

<%= content_for :page_actions do %>
  <%= link_to 'Nova categoria', new_category_path %>
<% end %>

<div class="vstack gap-3">
  <% @categories.each do |item| %>
    <div class="p-2 border-bottom border-dark">
      <%= render 'categories/categories_list_item', item: item %>
    </div>
  <% end %>
</div>
