<div class="toast-container position-fixed top-0 end-0 p-3"
  data-controller="toast">
  <% [%w[notice success], %w[alert danger]].each do |(type, color)| %>
    <% if flash.key?(type) %>
      <%= simple_toast(title: t(type, scope: "flash"), message: flash[type], color: color) %>
    <% end %>
  <% end %>
</div>
