<nav class="navbar navbar-expand-md mb-4 bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to 'Início', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lançamentos', entries_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categorias', categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <%= user_avatar(current_user) %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
