<% content_for :content do %>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
