<h3>Alterar senha</h3>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row g-3">
    <div class="col-12">
      <p class="lead">Você receberá uma mensagem no seu email de cadastro com instruções para reiniciar sua senha.</p>
    </div>
    <div class="col-12">
      <%= f.submit "Enviar instruções", class: "btn btn-primary" %>
      <%= link_to 'Cancelar', user_account_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
