<header class="mb-5">
  <h1>Meu cadastro</h1>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
</header>

<%= turbo_frame_tag "user-account" do %>
  <%= render partial: "account" %>
<% end %>
